<template>
    <div class="container pb-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div>
                    <label class="badge badge-info"
                        >{{ acds.display }} - {{ acds.name }}
                    </label>
                    <hr />
                    <!-- Agents -->
                    <template v-if="Object.keys(acd).length">
                        <div class="row pb-3 mb-3">
                            <h4 class="text-muted col-12">Agentes</h4>
                            <div
                                v-for="agent in acd.agents"
                                :key="agent.account"
                                class="col-12 col-md-3"
                            >
                                <div class="card p-2 shadow">
                                    <p class="p-0 m-0">
                                        {{ agent.name }}
                                        <span class="badge badge-success">{{
                                            agent.account
                                        }}</span>
                                    </p>
                                    <ul class="list-group">
                                        <li
                                            class="list-group-item p-1 d-flex justify-content-between align-items-center"
                                        >
                                            Llamadas
                                            <span
                                                class="badge badge-primary badge-pill"
                                                >{{ agent.calls }}</span
                                            >
                                        </li>
                                        <li
                                            class="list-group-item p-1 d-flex justify-content-between align-items-center"
                                        >
                                            Duracion promedio
                                            <span
                                                class="badge badge-primary badge-pill"
                                                >{{ agent.average.talk }}</span
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-3 mb-3">
                            <div class="col-12 col-md-3">
                                <div class="card shadow">
                                    <h5 class="card-title text-center">
                                        Llamadas totales
                                        <span
                                            class="d-block h3 font-weight-bold"
                                        >
                                            {{
                                                acd.acds[acds.name].calls.count
                                            }}
                                        </span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="card shadow">
                                    <h5 class="card-title text-center">
                                        Llamadas completadas
                                        <span
                                            class="d-block h3 font-weight-bold"
                                        >
                                            {{
                                                acd.acds[acds.name].calls
                                                    .completed
                                            }}
                                        </span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="card shadow">
                                    <h5 class="card-title text-center">
                                        Llamadas atendidas
                                        <span
                                            class="d-block h3 font-weight-bold"
                                        >
                                            {{
                                                (100 /
                                                    acd.acds[acds.name].calls
                                                        .count) *
                                                    acd.acds[acds.name].calls
                                                        .completed
                                            }}
                                            %
                                        </span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="card shadow">
                                    <h5 class="card-title text-center">
                                        Llamadas abandonadas
                                        <span
                                            class="d-block h3 font-weight-bold"
                                        >
                                            {{
                                                (
                                                    100 /
                                                    acd.acds[acds.name].calls
                                                        .count
                                                ).toFixed(1)
                                            }}
                                            %
                                        </span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-7 mb-4">
                                <div class="card shadow">
                                    <div class="card-body p-1">
                                        <highcharts
                                            :options="options_chart()"
                                        ></highcharts>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-5 mb-4">
                                <div class="card shadow">
                                    <div class="card-body p-1">
                                        <highcharts
                                            :options="options_chart_pie()"
                                        ></highcharts>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <div class="card shadow">
                                    <div class="card-body p-1">
                                        <highcharts
                                            :options="
                                                options_chart_pie_duration()
                                            "
                                        ></highcharts>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <h3 class="text-muted text-center">
                                    Duracion ACD (horas, minutos,segundos)
                                </h3>
                                <div class="card w-50 mx-auto mb-2">
                                    <div class="card-body p-1 shadow">
                                        <h5 class="card-title text-center">
                                            IVR
                                            <span
                                                class="d-block h3 font-weight-bold"
                                                v-text="
                                                    secondsToTime(
                                                        acd.acds[acds.name]
                                                            .duration.sum.ivr
                                                    )
                                                "
                                            ></span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="card w-50 mx-auto mb-2">
                                    <div class="card-body p-1 shadow">
                                        <h5 class="card-title text-center">
                                            RING
                                            <span
                                                class="d-block h3 font-weight-bold"
                                                v-text="
                                                    secondsToTime(
                                                        acd.acds[acds.name]
                                                            .duration.sum.ring
                                                    )
                                                "
                                            ></span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="card w-50 mx-auto mb-2">
                                    <div class="card-body p-1 shadow">
                                        <h5 class="card-title text-center">
                                            TALK
                                            <span
                                                class="d-block h3 font-weight-bold"
                                                v-text="
                                                    secondsToTime(
                                                        acd.acds[acds.name]
                                                            .duration.sum.talk
                                                    )
                                                "
                                            ></span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="card w-50 mx-auto mb-2">
                                    <div class="card-body p-1 shadow">
                                        <h5 class="card-title text-center">
                                            HOLD
                                            <span
                                                class="d-block h3 font-weight-bold"
                                                v-text="
                                                    secondsToTime(
                                                        acd.acds[acds.name]
                                                            .duration.sum.hold
                                                    )
                                                "
                                            ></span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="card w-50 mx-auto mb-2">
                                    <div class="card-body p-1 shadow">
                                        <h5 class="card-title text-center">
                                            IDLE
                                            <span
                                                class="d-block h3 font-weight-bold"
                                                v-text="
                                                    secondsToTime(
                                                        acd.acds[acds.name]
                                                            .duration.sum.idle
                                                    )
                                                "
                                            ></span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Highcharts from "highcharts";
import Exporting from "highcharts/modules/exporting";
import ExportData from "highcharts/modules/export-data";
ExportData(Highcharts);
Exporting(Highcharts);
export default {
    data() {
        return {
            updating: false,
            acds: {
                display: "",
                name: ""
            },
            acd: {},
            calls: {
                total: {
                    "0": [],
                    "1": [],
                    "2": [],
                    "3": [],
                    "4": [],
                    "5": [],
                    "6": [],
                    "7": [],
                    "8": [],
                    "9": [],
                    "10": [],
                    "11": [],
                    "12": [],
                    "13": [],
                    "14": [],
                    "15": [],
                    "16": [],
                    "17": [],
                    "18": [],
                    "19": [],
                    "20": [],
                    "21": [],
                    "22": [],
                    "23": []
                },
                completed: {
                    "0": [],
                    "1": [],
                    "2": [],
                    "3": [],
                    "4": [],
                    "5": [],
                    "6": [],
                    "7": [],
                    "8": [],
                    "9": [],
                    "10": [],
                    "11": [],
                    "12": [],
                    "13": [],
                    "14": [],
                    "15": [],
                    "16": [],
                    "17": [],
                    "18": [],
                    "19": [],
                    "20": [],
                    "21": [],
                    "22": [],
                    "23": []
                }
            }
        };
    },
    methods: {
        secondsToTime(secs) {
            let hours = Math.floor(secs / (60 * 60));

            let divisor_for_minutes = secs % (60 * 60);
            let minutes = Math.floor(divisor_for_minutes / 60);

            let divisor_for_seconds = divisor_for_minutes % 60;
            let seconds = Math.ceil(divisor_for_seconds);
            return `${hours}: ${minutes}: ${seconds}`;
        },
        options_chart() {
            return {
                chart: {
                    type: ""
                    // options3d: {
                    //     enabled: true,
                    //     alpha: 10,
                    //     beta: 5,
                    //     depth: 90,
                    //     viewDistance: 25
                    // }
                },
                xAxis: {
                    categories: [
                        0,
                        1,
                        2,
                        3,
                        4,
                        5,
                        6,
                        7,
                        8,
                        9,
                        10,
                        11,
                        12,
                        13,
                        14,
                        15,
                        16,
                        17,
                        18,
                        19,
                        20,
                        21,
                        22,
                        23
                    ]
                },
                yAxis: {
                    title: ""
                },
                title: { text: "Historico de llamadas por Hora" },
                plotOptions: {
                    column: {
                        allowPointSelect: true,
                        cursor: "pointer",
                        depth: 25,
                        pointPadding: 0.2,
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            color: "#000",
                            fontWeight: "bold",
                            textOutline: "0px",
                            // color: '#fff',
                            // format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            format: "<b>{point.y}</b>"
                        },
                        showInLegend: true
                    }
                },
                series: [
                    {
                        name: "Calls",
                        data: [
                            this.calls.total["0"].length,
                            this.calls.total["1"].length,
                            this.calls.total["2"].length,
                            this.calls.total["3"].length,
                            this.calls.total["4"].length,
                            this.calls.total["5"].length,
                            this.calls.total["6"].length,
                            this.calls.total["7"].length,
                            this.calls.total["8"].length,
                            this.calls.total["9"].length,
                            this.calls.total["10"].length,
                            this.calls.total["11"].length,
                            this.calls.total["12"].length,
                            this.calls.total["13"].length,
                            this.calls.total["14"].length,
                            this.calls.total["15"].length,
                            this.calls.total["16"].length,
                            this.calls.total["17"].length,
                            this.calls.total["18"].length,
                            this.calls.total["19"].length,
                            this.calls.total["20"].length,
                            this.calls.total["21"].length,
                            this.calls.total["22"].length,
                            this.calls.total["23"].length
                        ]
                    },
                    {
                        name: "Calls completed",
                        data: [
                            this.calls.completed["0"].length,
                            this.calls.completed["1"].length,
                            this.calls.completed["2"].length,
                            this.calls.completed["3"].length,
                            this.calls.completed["4"].length,
                            this.calls.completed["5"].length,
                            this.calls.completed["6"].length,
                            this.calls.completed["7"].length,
                            this.calls.completed["8"].length,
                            this.calls.completed["9"].length,
                            this.calls.completed["10"].length,
                            this.calls.completed["11"].length,
                            this.calls.completed["12"].length,
                            this.calls.completed["13"].length,
                            this.calls.completed["14"].length,
                            this.calls.completed["15"].length,
                            this.calls.completed["16"].length,
                            this.calls.completed["17"].length,
                            this.calls.completed["18"].length,
                            this.calls.completed["19"].length,
                            this.calls.completed["20"].length,
                            this.calls.completed["21"].length,
                            this.calls.completed["22"].length,
                            this.calls.completed["23"].length
                        ]
                    }
                ]
            };
        },
        options_chart_pie() {
            let atendidas =
                (100 / this.acd.acds[this.acds.name].calls.count) *
                this.acd.acds[this.acds.name].calls.completed;
            let abandonadas = 100 / this.acd.acds[this.acds.name].calls.count;

            return {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: "pie"
                },
                title: {
                    text: "Porcentaje de Llamadas"
                },
                tooltip: {
                    pointFormat: "{series.name}: <b>{point.percentage:.1f}%</b>"
                },
                accessibility: {
                    point: {
                        valueSuffix: "%"
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: "pointer",
                        dataLabels: {
                            enabled: true,
                            format:
                                "<b>{point.name}</b>: {point.percentage:.1f} %"
                        }
                    }
                },
                series: [
                    {
                        name: "Calls",
                        colorByPoint: true,
                        data: [
                            {
                                name: "Atendidas",
                                y: atendidas
                            },
                            {
                                name: "Abandonadas",
                                y: abandonadas
                            }
                        ]
                    }
                ]
            };
        },
        options_chart_pie_duration() {
            return {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: "pie"
                },
                title: {
                    text: "Duracion ACD en Segundos"
                },
                tooltip: {
                    pointFormat: "{series.name}: <b>{point.y}</b>"
                },
                accessibility: {
                    point: {
                        valueSuffix: ""
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: "pointer",
                        dataLabels: {
                            enabled: true,
                            format: "<b>{point.name}</b>: {point.y} segundos "
                        }
                    }
                },
                series: [
                    {
                        name: "Calls",
                        colorByPoint: true,
                        data: [
                            {
                                name: "Ivr",
                                y: this.acd.acds[this.acds.name].duration.sum
                                    .ivr
                            },
                            {
                                name: "Ring",
                                y: this.acd.acds[this.acds.name].duration.sum
                                    .ring
                            },
                            {
                                name: "Talk",
                                y: this.acd.acds[this.acds.name].duration.sum
                                    .talk
                            },
                            {
                                name: "Hold",
                                y: this.acd.acds[this.acds.name].duration.sum
                                    .hold
                            },
                            {
                                name: "Idle",
                                y: this.acd.acds[this.acds.name].duration.sum
                                    .idle
                            }
                        ]
                    }
                ]
            };
        },
        get_acds() {
            axios
                .get("/acds")
                .then(res => {
                    console.log(res);
                    this.acds = res.data[0];
                    this.get_acd(this.acds.name);
                })
                .catch(err => {
                    console.error(err);
                });
        },
        get_acd(acd) {
            axios
                .get("/acds/" + acd)
                .then(res => {
                    console.log(res.data);
                    this.acd = res.data;
                    if (Object.keys(this.acd).length > 0) {
                        if (this.validate_calls_count()) {
                            this.build_array_calls();
                        }
                    }
                })
                .catch(err => {
                    console.error(err);
                });
        },
        validate_calls_count() {
            return this.acd.acds[this.acds.name].calls.count > this.calls_sum();
        },
        calls_sum() {
            return (
                this.calls.total["0"].length +
                this.calls.total["1"].length +
                this.calls.total["2"].length +
                this.calls.total["3"].length +
                this.calls.total["4"].length +
                this.calls.total["5"].length +
                this.calls.total["6"].length +
                this.calls.total["7"].length +
                this.calls.total["8"].length +
                this.calls.total["9"].length +
                this.calls.total["10"].length +
                this.calls.total["11"].length +
                this.calls.total["12"].length +
                this.calls.total["13"].length +
                this.calls.total["14"].length +
                this.calls.total["15"].length +
                this.calls.total["16"].length +
                this.calls.total["17"].length +
                this.calls.total["18"].length +
                this.calls.total["19"].length +
                this.calls.total["20"].length +
                this.calls.total["21"].length +
                this.calls.total["22"].length +
                this.calls.total["23"].length
            );
        },
        build_array_calls() {
            this.acd.history.forEach(element => {
                let hour = new Date(element.start * 1000).getHours();
                switch (hour) {
                    case 0:
                        this.calls.total["0"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["0"].push(hour);
                        }
                        break;
                    case 1:
                        this.calls.total["1"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["1"].push(hour);
                        }
                        break;
                    case 2:
                        this.calls.total["2"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["2"].push(hour);
                        }
                        break;
                    case 3:
                        this.calls.total["3"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["3"].push(hour);
                        }
                        break;
                    case 4:
                        this.calls.total["4"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["4"].push(hour);
                        }
                        break;
                    case 5:
                        this.calls.total["5"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["5"].push(hour);
                        }
                        break;
                    case 6:
                        this.calls.total["6"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["6"].push(hour);
                        }
                        break;
                    case 7:
                        this.calls.total["7"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["7"].push(hour);
                        }
                        break;
                    case 8:
                        this.calls.total["8"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["8"].push(hour);
                        }
                        break;
                    case 9:
                        this.calls.total["9"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["9"].push(hour);
                        }
                        break;
                    case 10:
                        this.calls.total["10"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["10"].push(hour);
                        }
                        break;
                    case 11:
                        this.calls.total["11"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["11"].push(hour);
                        }
                        break;
                    case 12:
                        this.calls.total["12"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["12"].push(hour);
                        }
                        break;
                    case 13:
                        this.calls.total["13"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["13"].push(hour);
                        }
                        break;
                    case 14:
                        this.calls.total["14"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["14"].push(hour);
                        }
                        break;
                    case 15:
                        this.calls.total["15"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["15"].push(hour);
                        }
                        break;
                    case 16:
                        this.calls.total["16"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["16"].push(hour);
                        }
                        break;
                    case 17:
                        this.calls.total["17"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["17"].push(hour);
                        }
                        break;
                    case 18:
                        this.calls.total["18"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["18"].push(hour);
                        }
                        break;
                    case 19:
                        this.calls.total["19"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["19"].push(hour);
                        }
                        break;
                    case 20:
                        this.calls.total["20"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["20"].push(hour);
                        }
                        break;
                    case 21:
                        this.calls.total["21"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["21"].push(hour);
                        }
                        break;
                    case 22:
                        this.calls.total["22"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["22"].push(hour);
                        }
                        break;
                    case 23:
                        this.calls.total["23"].push(hour);
                        if (element.duration > 0) {
                            this.calls.completed["23"].push(hour);
                        }
                        break;
                }
            });
        }
    },
    created() {
        this.get_acds();

        setInterval(() => {
            this.get_acds();
        }, 30000);
    }
};
</script>

<style lang="css">
.highcharts-credits {
    display: none;
}
</style>
